/* CSS declarations go here */
.table-logo {
  max-width: 30px;
  max-height: 30px;
  padding-right: 10px;
}

.table-options {
  font-size: 25px;
}

.node-image {
  max-width: 70px;
  max-height: 70px;
}

.info-img {
  max-width: 200px;
  max-height: 200px;
}